<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INSURANCE CLAIM FRAUD CLASSIFICATION</title>
    <link rel="stylesheet" href="../static/styles/index_page.css">

</head>


    <body class='bg'>
            <div class="content" style="background-color: rgba(88, 10, 27, 0.8) ; color:rgb(253, 242, 242);">
                <h1 style="text-align: center">INSURANCE CLAIM FRAUD CLASSIFICATION</h1>

                <div class="form">
                    <p><u><b>Enter the Required Parameters :</b></u></p>
                    <form action="/Prediction" method="POST" autocomplete="on">

                        <!--  'incident_type','collision_type','incident_severity', 'auto_make',
                            'incident_state', 'incident_city','number_of_vehicles_involved'
                        , 'authorities_contacted','witnesses','police_report_available',
                        'property_claim','vehicle_claim', 'injury_claim','property_damage', 
                        'policy_csl','umbrella_limit','claim_duration',
                        'insured_occupation', 'insured_relationship','insured_hobbies' -->

                        <!-- Frequency Encoding -->
                        <label for="incident_type"><b>Incident Type</b></label>&nbsp;&nbsp;
                        <select name="incident_type" id="incident_type">
                            <option value="Multi-vehicle Collision">Multi-vehicle Collision</option>
                            <option value="Parked Car">Parked Car</option>
                            <option value="Single Vehicle Collision">Single Vehicle Collision</option>
                            <option value="Vehicle Theft">Vehicle Theft</option>
                        </select>
                        &nbsp;&nbsp;

                        <!-- Mean Encodng -->
                        <label for="collision_type"><b>Incident Type</b></label>&nbsp;&nbsp;
                        <select name="collision_typee" id="collision_type">
                            <option value="Front Collision">Front Collision</option>
                            <option value="Rear Collision">Rear Collision</option>
                            <option value="Side Collision">Side Collision</option>
                        </select>
                        &nbsp;&nbsp;

                        <!-- Ordinal Encoding-->
                        <label for="incident_severity"><b>Incident Severity</b></label>&nbsp;&nbsp;
                        <select name="incident_severity" id="incident_severity">
                            <option value=5>Trivial Damage</option>
                            <option value=6>Minor Damage</option>
                            <option value=7>Total Loss</option>
                            <option value=8>Major Damage</option>
                        </select>
                        &nbsp;&nbsp;

                        <!-- Mean Encoding -->
                        <label for="auto_make"><b>Car Manufacturer</b></label>&nbsp;&nbsp;
                        <select name="auto_make" id="auto_make">
                            <option value="Audi">Audi</option>
                            <option value="Accura">Accura</option>
                            <option value="BMW">BMW</option>
                            <option value="Chevrolet">Chevrolet</option>
                            <option value="Dodge">Dodge</option>
                            <option value="Ford">Ford</option>
                            <option value="Honda">Honda</option>
                            <option value="Jeep">Jeep</option>
                            <option value="Mercedes">Mercedes</option>
                            <option value="Nissan">Nissan</option>
                            <option value="Saab">Saab</option>
                            <option value="Suburu">Suburu</option>
                            <option value="Toyota">Toyota</option>
                            <option value="Volkswagen">Volkswagen</option>
                        </select>
                        &nbsp;&nbsp;

                        <!-- Mean Encoding -->
                        <label for="incident_state"><b>Incident State</b></label>&nbsp;&nbsp;
                        <select name="incident_state" id="incident_state">
                            <option value="NC">North Carolina</option>
                            <option value="NY">New York</option>
                            <option value="OH">Ohio</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="SC">South Carolina</option>
                            <option value="VA">Virginia</option>
                            <option value="WV">West Virginia</option>
                        </select>
                        &nbsp;&nbsp;
                        <br><br>

                        <!-- Mean Encoding -->
                        <label for="incident_city"><b>Incident City</b></label>&nbsp;&nbsp;
                        <select name="incident_city" id="incident_city">
                            <option value="Arlington">Arlington</option>
                            <option value="Columnbus">Columbus</option>
                            <option value="Hillsdale">Hillsdale</option>
                            <option value="Northbend">Northbend</option>
                            <option value="Northbrook">Northbrook</option>
                            <option value="Riverwood">Riverwood</option>
                            <option value="Springfield">Springfield</option>
                        </select>
                        &nbsp;&nbsp;
                        <!-- Numeric -->
                        <label for="number_of_vehicles_involved"><b>Number of Vehicles involved</b></label>&nbsp;&nbsp;
                        <input type="number" name="number_of_vehicles_involved" id="number_of_vehicles_involved" placeholder="include claimer"  max=30 min=0 required>
                        &nbsp;&nbsp;
                      
                        <!-- Ordinal -->
                        <label for="authorities_contacted"><b>Authorities Contacted</b></label>&nbsp;&nbsp;
                        <select name="authorities_contacted" id="authorities_contacted">
                            <option value=6>Police</option>
                            <option value=7>Fire</option>
                            <option value=8>Ambulance</option>
                            <option value=9>Other</option>
                            <option value=5>None</option>
                        </select>
                        &nbsp;&nbsp;

                        <!-- Numeric -->
                        <label for="witnesses"><b>Number of Witnesses</b></label>&nbsp;&nbsp;
                        <input type="number" name="witnesses" id="witnesses" placeholder="witnesses"   required>
                        &nbsp;&nbsp;

                        <!-- One Hot-->
                        <label for="police_report_available"><b>Police report Available</b></label>&nbsp;&nbsp;
                        <select name="police_report_available" id="police_report_available">
                            <option value=1>YES</option>
                            <option value=0>NO</option>
                        </select>
                        &nbsp;&nbsp;

                        <br><br>
                            <!-- One Hot-->
                        <label for="property_damage"><b>Property Damage</b></label>&nbsp;&nbsp;
                        <select name="property_damage" id="property_damage">
                            <option value=1>YES</option>
                            <option value=0>NO</option>
                        </select>
                        &nbsp;&nbsp;
                        <!-- Numeric -->
                        <label for="property_claim"><b>Property Claim</b></label>&nbsp;&nbsp;
                        <input type="number" name="property_claim" id="property_claim" placeholder="in USD" required>
                        &nbsp;&nbsp;
                        <!-- Numeric -->
                        <label for="vehicle_claim"><b>Vehicle Claim</b></label>&nbsp;&nbsp;
                        <input type="number" name="vehicle_claim" id="vehicle_claim" placeholder="in USD" required>
                        &nbsp;&nbsp;
                        <!-- Numeric -->
                        <label for="injury_claim"><b>Injury Claim</b></label>&nbsp;&nbsp;
                        <input type="number" name="injury_claim" id="injury_claim" placeholder="in USD" required>
                        &nbsp;&nbsp;

                        <!-- Mean Encoding -->
                        <label for="policy_csl"><b>Policy CSL</b></label>&nbsp;&nbsp;
                        <select name="policy_csl" id="policy_csl">
                            <option value="100/300">100/300</option>
                            <option value="250/500">250/500</option>
                            <option value="500/1000">500/1000</option>
                        </select>
                        &nbsp;&nbsp;
                        <br><br>
                        <!-- Numeric -->
                        <label for="umbrella_limit"><b>Umbrella Limit</b></label>&nbsp;&nbsp;
                        <input type="number" name="umbrella_limit" id="umbrella_limit" placeholder="in USD" required>
                        &nbsp;&nbsp;
                        <!-- Date -->
                        <label for="policy_bind_date"><b>Policy Bind Date</b></label>&nbsp;&nbsp;
                        <input type="date" name="policy_bind_date" id="policy_bind_date" required>
                        &nbsp;&nbsp;
                        <!-- date input format :dd-mm-yyyy  required : yyyy-mm-dd CHANGEFORMAT-->

                        <label for="incident_date"><b>Incident Date</b></label>&nbsp;&nbsp;
                        <input type="date" name="incident_date" id="incident_date" required>
                        &nbsp;&nbsp;
                        <!-- claim_duration = policy_bind_date -incident_date -->

                        <label for="insured_occupation"><b>Occupation</b></label>&nbsp;&nbsp;
                        <select name="insured_occupation" id="insured_occupation">
                            <option value=6>priv-house-serv</option>
                            <option value=7>adm-clerical</option>
                            <option value=8>handlers-cleaners</option>
                            <option value=9>prof-specialty</option>
                            <option value=10>protective-serv</option>
                            <option value=11>machine-op-inspct</option>
                            <option value=12>armed-forces</option>
                            <option value=13>sales</option>
                            <option value=14>tech-support</option>
                            <option value=15>transport-moving</option>
                            <option value=16>craft-repair</option>
                            <option value=17>farming-fishing</option>
                            <option value=18>exec-managerial</option>
                            <option value=5>other-service</option>
                        </select>
                        &nbsp;&nbsp;
                        
                        <label for="insured_relationship"><b>Relationship</b></label>&nbsp;&nbsp;
                        <select name="insured_relationship" id="insured_relationship">
                            <option value="husband">husband</option>
                            <option value="not-in-family">not-in-family</option>
                            <option value="other-relative">other-relative</option>
                            <option value="own-child">own-child</option>
                            <option value="unmarried">unmarried</option>
                            <option value="wife">wife</option>
                        </select>
                        &nbsp;&nbsp;
                        <br><br>

                        <label for="insured_hobbies"><b>Hobby</b></label>&nbsp;&nbsp;
                        <select name="insured_hobbies" id="insured_hobbies">
                            <option value="base-jumping">base-jumping</option>
                            <option value="basketball">basketball</option>
                            <option value="board-games">board-games</option>
                            <option value="bungie-jumping">bungie-jumping</option>
                            <option value="cross-fit">cross-fit</option>
                            <option value="dancing">dancing</option>
                            <option value="exercise">exercise</option>
                            <option value="golf">golf</option>
                            <option value="hiking">hiking</option>
                            <option value="kayaking">kayaking</option>
                            <option value="movies">movies</option>
                            <option value="paintball">paintball</option>
                            <option value="polo">polo</option>
                            <option value="reading">reading</option>
                            <option value="skydiving">skydiving</option>
                            <option value="sleeping">sleeping</option>
                            <option value="video-games">video-games</option>
                            <option value="yachting">yachting</option>
                        </select>
                        &nbsp;&nbsp;
    
                        <input type="submit" value="Predict">
                    </form>
                    <br><br>

                </div>
            </div>

            <div style="bottom: 0px;">
                <div>

                    <img class="profile"  src= "../static/images/72919592_417753879153334_1723338761183428608_n.png"alt="Shashank Sundi" style="width:200px;height:200px;" >
                </div>

                <div >
                    <a href="https://github.com/Shashank-Sundi/HEALTH-COMMODITY-SHIPMENT-PRICE-PREDICTION" target="_blank">
                        <img alt="github link" src="../static/images/git.png" width=40" height="40" style="border-radius: 50%;margin-top: 15px;margin-left: 10px;border-color: wheat;border-style: solid;border-width: 4px;">
                     </a>


                     <a href="https://www.linkedin.com/in/shashank-sundi-4b78561b1" target="_blank">
                        <img alt="linkedin" src="../static/images/Linkedin-logo-vector-PNG.png" width=50" height="50" style="border-radius: 50%;margin-top: 15px;margin-left: 10px;">
                     </a>

                     <a href="mailto:sundi.sn@gmail.com" >
                    <img src="../static/images/gmailll.png" width=40" height="40" style="border-radius: 50%;margin-top: 15px;margin-left: 10px;border-color: wheat;border-style: solid;border-width: 4px;"> </a>
                </div>
            </div>
    </body>
</html>

